<div class="commentcontainer">
    {{#each this.getAHomepagePost.BlogComments}}
    <div class="commenttitle">
        Posted by
        {{ user.dataValues.username }}
        on
        {{ format_date BlogComment.dataValues.createdAt }}
    </div>
    <div class="commentbody">
        {{ dataValues.content }}
    </div>
    {{/each}}
</div>