    <div class="container">
      <div>
        <h2 id="addcommenttitle"></h2>
      </div>
      <input type="hidden" name="post-id" value="{{ getAHomepagePost.id }}" />
      <div class="commentfield">
        <label for="commentfieldlabel">Write comment here:</label><br />
        <textarea rows="6" columns="40" id="commentfieldform" type="text" name="commentfieldform"></textarea>
      </div>
      <div id="commentpostbuttondiv">
        <button id="commentpostbtn">Submit Comment</button>
      </div>
    </div>
</div>

<script src="/js/addcomment.js"></script>