<div>
  {{#each this.getAHomepagePost.BlogComments}}
    <div class="container">
        <div>
        <div class="commentheader"></div>
        </div>
      <div class="commentbody">
        {{dataValues.content}}
      </div><br>
      <div class="commenttitle">
        Posted by
        {{user.dataValues.username}}
        on
        {{format_date dataValues.createdAt}}
      </div>
      
    </div>
  {{/each}}
</div>