<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Blog Site</title>
    <link rel="stylesheet" href="../../css/jass.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>

  <body>
    <header>
      <div class="header">
        <nav>
          <ul>
            <li><a href="homepage">Home</a></li>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="login">Login</a></li>
          </ul>
          <p class="maintitle">The Tech Blog</p>
        </nav>
    </div>
    </header>
    <p>body</p>
  </body>
</html>
