<form>
  <label for="posttitle">Post Title</label>
  <input type="text" id="posttitle" name="posttitle" />

  <label for="postcontent">Content:</label>
  <input type="text" id="postcontent" name="postcontent" />
</form>