<div>
  <form>
    <div>
      <label for="posttitle">Post Title</label>
      <input type="text" id="posttitle" name="posttitle" />
    </div>
    <div>
      <label for="postcontent">Content:</label>
      <input type="text" id="postcontent" name="postcontent" />
    </div>
  </form>
</div>