<div>
  <div class="container">
    <div>
      <h2 id="createnewposttitle">Create New Post</h2>
    </div>
    <div class="newpostfield">
      <label for="newposttitlelabel">Title:</label><br />
      <input id="newposttitleform" type="text" name="newposttitleform" />
    </div>
    <div class="newpostfield">
      <label for="newpostcontentlabel">Content:</label><br />
      <textarea rows="6" columns="40" id="newpostcontentform" type="text" name="newpostcontentform" /></textarea>
    </div>
    <div id="newpostbuttondiv">
      <button id="createnewpostbtn">Create</button>
    </div>
  </div>
</div>

<script src="/js/createpost.js"></script>