<div id="dashboardblogposts">
  {{#each listAllUserPost as |userPost|}}
    <div class="container">
      <a href="/dashboard/{{userPost.id}}" class="card">
        <div class="blog-card-title">
          <div id="blogposttitle">
            {{userPost.title}}
          </div>
          <div id="blogpostuserinfo">
            Posted:
            {{format_date userPost.createdAt}}
          </div>
        </div>
        {{!-- <div class="blog-card-content">
          {{userPost.content}}
        </div> --}}
      </a>
    </div>
  {{/each}}
</div>

<div id="footerbtn">
  <div id="createnewpostbtn">
    <button id="createnewuserpostbtn">Create New Post</button>
  </div>
</div>

<script src="./js/dashboard.js"></script>