<div>
    {{#each allHomePageBlogPosts as |blogPost|}}
<div class="blog-card">
    <div class="blog-card-header">
        {{ blogPost.title }}
    </div>
    <div class="blog-card-body">
        {{ blogPost.content }}
    </div>
</div>
{{/each}}
</div>