<div>
  <div class="container">
    <div>
      <h2 id="logintitle">Sign up</h2>
    </div>
    <div class="loginfield">
      <label for="username">Username:</label><br />
      <input id="username-signup" type="text" name="username" />
    </div>
    <div class="loginfield">
      <label for="password">Password:</label><br />
      <input id="password-signup" type="password" name="password" />
    </div>
    <div id="signupbuttondiv">
      <button id="signupbtn">Sign up</button>
    </div>
    <div id="signuplink">
      <a href="/login">Go to Login</a>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>