<div>
  <h2>Signup</h2>
  <form>
    <div>
      <label>Username</label>
      <input type="text" id="usernamesignup"/>
    </div>
    <div>
      <label>Password</label>
      <input type="password" id="passwordsignup"/>
    </div>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>
</div>

<script src="./public/js/signup"