<div id="homepageblogposts">
    <div class="container">
      <div class="card">
        <div class="blog-card-title">
          <div id="blogposttitle">
            {{getAHomepagePost.title}}
          </div>
          <div id="blogpostuserinfo">
            Posted by
            {{user.username}}
            on
            {{format_date getAHomepagePost.createdAt}}
          </div>
        </div>
        <div class="blog-card-content">
          {{getAHomepagePost.content}}
        </div>
      </div>
    </div>
    <div>
{{> commentpartial}}
</div>