<div id="homepageblogposts">
    <div class="container">
      <div class="card">
        <div class="blog-card-title">
          <div id="blogposttitle">
            {{getAHomepagePost.dataValues.title}}
          </div>
          <div id="blogpostuserinfo">
            Posted by
            {{getAHomepagePost.user.dataValues.username}}
            on
            {{format_date getAHomepagePost.dataValues.createdAt}}
          </div>
        </div>
        <div class="blog-card-content">
          {{getAHomepagePost.dataValues.content}}
        </div>
      </div>
    </div>
    <div>
{{> commentform }}
</div>
<div>
  {{> comments }}
</div>

<script src="/js/addcomment.js"></script>